In [4]:
!pip install -q py2neo

In [5]:
from py2neo import Graph
from py2neo import Node
from py2neo import Relationship
import pandas as pd

In [6]:
from neo4j import GraphDatabase

In [35]:
uri="neo4j://localhost:7687"

In [36]:
graph = Graph(uri, 
              user="neo4j", 
              password="NEO4J@1234")

In [23]:

Instagram = Node("Social_Media", title="Instagram", tagline="Capture and Share the World's Moments")
Facebook = Node("Social_Media",  title="Facebook", tagline="It's quick and easy")
WhatsApp = Node("Social_Media",  title="WhatsApp", tagline="Hey there, I am using WhatsApp")
SnapChat = Node("Social_Media", title="SnapChat", tagline="THe fastest way to share a moment")
Youtube = Node("Social_Media", title="Youtube", tagline="Broadcast Yourself")
Twitter = Node("Social_Media", title="Twitter", tagline="Here, your voice matters")
LinkedIn = Node("Social_Media", title="LinkedIn", tagline="Sum up your Professional brand")

In [11]:
Chandler = Node("Person", name="Chandler Bing", dob=1968, country="USA", sex="Male")
Rachel = Node("Person", name="Rachel Green", dob=1969, country="USA", sex="Female")
Joey = Node("Person", name="Joey Tribbiani", dob=1967, country="USA", sex="Male")
Ross = Node("Person", name="Ross Geller", dob=1967, country="USA", sex="Male")
Monica = Node("Person", name="Monica Geller", dob=1967, country="USA", sex="Female")
Phoebe = Node("Person", name="Phoebe Buffay", dob=1971, country="USA", sex="Female")

Abhijit = Node("Person", name="Abhijit Singh ", dob=1980, country="India", sex="Male")
ACP = Node("Person", name="ACP Pradyuman ", dob=1960, country="India", sex="Male")
Tarika = Node("Person", name="DR Tarika ", dob=1986, country="India", sex="Female")
Purvi = Node("Person", name="Purvi Sayed ", dob=1988, country="India", sex="Female")
Shreya = Node("Person", name="Shreya Chedda", dob=1985, country="India", sex="Female")
Salunkhe = Node("Person", name="Dr R.P. Salunkhe ", dob=1965, country="India", sex="Male")
Fredricks = Node("Person", name="Fredricks ", dob=1975, country="India", sex="Male")
Sachin = Node("Person", name="Inspector Sachin", dob=1987, country="India", sex="Male")
Nikhil = Node("Person", name="Inspector Nikhil ", dob=1990, country="India", sex="Male")

Bagha = Node("Person", name="Bagha", dob=2001, country="India", sex="Male")
Peg = Node("Person", name="Peg Legge", dob=2006, country="India", sex="Male")
Isabelle = Node("Person", name="Isabelle Ringing", dob=2005, country="India", sex="Female")
Anne = Node("Person", name="Anne Teak", dob=2001, country="USA", sex="Female")
Rose = Node("Person", name="Rose Bush", dob=1998, country="USA", sex="Female")
Melody = Node("Person", name="Melody Sunshine", dob=1999, country="USA", sex="Male")
Chew = Node("Person", name="Chew Mee ", dob=1999, country="USA", sex="Male")

In [25]:
graph.create(Instagram | Facebook | WhatsApp | SnapChat 
             | Youtube | Twitter | LinkedIn)

In [26]:
graph.create(Chandler | Rachel | Joey | Ross | Monica | Phoebe
             | Bagha | Peg | Isabelle | Anne | Rose | Melody 
             | Chew | Abhijit | ACP | Tarika |Purvi | Shreya
             | Salunkhe | Fredricks | Sachin | Nikhil)

In [27]:
graph.create(Relationship(Joey, "Uses", SnapChat, joinedyear=2014, screentime=47, rating=3))
graph.create(Relationship(Ross, "Uses", LinkedIn, joinedyear=2010, screentime=64, rating=5))
graph.create(Relationship(Ross, "Uses", Twitter, joinedyear=2013, screentime=60, rating=4.6))
graph.create(Relationship(Monica, "Uses", Facebook, joinedyear=2019, screentime=97, rating=4.5))
graph.create(Relationship(Phoebe, "Uses", Facebook, joinedyear=2018, screentime=20, rating=3))
graph.create(Relationship(Bagha, "Uses", Facebook, joinedyear=2016, screentime=69, rating=4.9))
graph.create(Relationship(Peg, "Uses", Facebook, joinedyear=2013, screentime=94, rating=1))
graph.create(Relationship(Peg, "Uses", LinkedIn, joinedyear=2011, screentime=34, rating=4.8))
graph.create(Relationship(Isabelle, "Uses", Youtube, joinedyear=2008, screentime=104, rating=4.6))
graph.create(Relationship(Isabelle, "Uses", Twitter, joinedyear=2016, screentime=24, rating=1.8))
graph.create(Relationship(Isabelle, "Uses", Instagram, joinedyear = 2014, screentime = 120, rating = 4.8))
graph.create(Relationship(Anne, "Uses", Youtube, joinedyear=2009, screentime=14, rating=5))
graph.create(Relationship(Anne, "Uses", SnapChat, joinedyear=2013, screentime=36, rating=3.8))
graph.create(Relationship(Anne, "Uses", LinkedIn, joinedyear=2017, screentime=20, rating=4))
graph.create(Relationship(Chandler, "Uses", Facebook, joinedyear=2016, screentime=30, rating=2))
graph.create(Relationship(Chandler, "Uses", WhatsApp, joinedyear=2016, screentime=70, rating=3))
graph.create(Relationship(Chandler, "Uses", Instagram, joinedyear=2012, screentime=150, rating=4.9))
graph.create(Relationship(Rachel, "Uses", WhatsApp, joinedyear=2018, screentime=100, rating=4))

graph.create(Relationship(Phoebe, "Uses", WhatsApp, joinedyear=2010, screentime=25, rating=5))
graph.create(Relationship(Rachel, "Uses", WhatsApp, joinedyear=2011, screentime=10, rating=4))
graph.create(Relationship(Bagha, "Uses", WhatsApp, joinedyear=2012, screentime=15, rating=5))
graph.create(Relationship(Monica, "Uses", WhatsApp, joinedyear=2013, screentime=30, rating=4))
graph.create(Relationship(Peg, "Uses", WhatsApp, joinedyear=2014, screentime=35, rating=5))
graph.create(Relationship(Ross, "Uses", WhatsApp, joinedyear=2015, screentime=40, rating=4))
graph.create(Relationship(Isabelle, "Uses", WhatsApp, joinedyear=2016, screentime=45, rating=5))
graph.create(Relationship(Anne, "Uses", WhatsApp, joinedyear=2017, screentime=50, rating=4))
graph.create(Relationship(Joey, "Uses", WhatsApp, joinedyear=2018, screentime=55, rating=5))

graph.create(Relationship(Abhijit, "Uses", Instagram, joinedyear=2018, screentime=80, rating=5))
graph.create(Relationship(ACP, "Uses", Twitter, joinedyear=2014, screentime=20, rating=3))
graph.create(Relationship(Tarika, "Uses", Instagram, joinedyear=2015, screentime=130, rating=4))
graph.create(Relationship(Purvi, "Uses", Instagram, joinedyear=2017, screentime=100, rating=4))
graph.create(Relationship(Shreya, "Uses", Instagram, joinedyear=2018, screentime=40, rating=4))
graph.create(Relationship(Salunkhe, "Uses", LinkedIn, joinedyear=2019, screentime=10, rating=3))
graph.create(Relationship(Fredricks, "Uses", Youtube, joinedyear=2013, screentime=30, rating=3))
graph.create(Relationship(Sachin, "Uses", Youtube, joinedyear=2010, screentime=40, rating=4))
graph.create(Relationship(Nikhil, "Uses", Instagram, joinedyear=2012, screentime=50, rating=5))

graph.create(Relationship(Rachel, "Uses", Facebook, joinedyear=2017, screentime=43, rating=2))
graph.create(Relationship(Rose, "Uses", Twitter, joinedyear=2012, screentime=84, rating=4))
graph.create(Relationship(Rose, "Uses", LinkedIn, joinedyear=2014, screentime=134, rating=1))
graph.create(Relationship(Rose, "Uses", Youtube, joinedyear=2014, screentime=64, rating=4.8))
graph.create(Relationship(Melody, "Uses", Twitter, joinedyear=2010, screentime=54, rating=2.9))
graph.create(Relationship(Melody, "Uses", SnapChat, joinedyear=2015, screentime=76, rating=3.8))
graph.create(Relationship(Melody, "Uses", WhatsApp, joinedyear=2019, screentime=87, rating=2.6))
graph.create(Relationship(Chew, "Uses", Facebook, joinedyear=2017, screentime=29, rating=4.9))
graph.create(Relationship(Chew, "Uses", SnapChat, joinedyear=2018, screentime=48, rating=2.8))
graph.create(Relationship(Chew, "Uses", WhatsApp, joinedyear=2009, screentime=86, rating=1.6))

In [28]:
query1 = """
MATCH (p:Person)-[]->(s:Social_Media)
RETURN s.title, COUNT(*) AS Users
ORDER BY Users DESC
LIMIT 3
"""

result1 = graph.run(query1)
for d in result1:
    print(d)

'WhatsApp'	12
'Facebook'	7
'Instagram'	7

In [29]:
query2 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN s.title AS Title, AVG(r.rating) AS Rating
ORDER BY Rating DESC
"""

result2 = graph.run(query2)
for d in result2:
    print(d)

'Instagram'	4.5285714285714285
'Youtube'	4.28
'WhatsApp'	4.016666666666667
'LinkedIn'	3.5599999999999996
'SnapChat'	3.3499999999999996
'Twitter'	3.2600000000000002
'Facebook'	3.185714285714286

In [30]:
query3 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN DISTINCT p.name AS Name, s.title,SUM(r.screentime) AS Total
ORDER BY Total DESC
LIMIT 10
"""

result3 = graph.run(query3)

df = pd.DataFrame(result3, columns = ["User", "Social Media", "Screen Time"])

In [31]:
df

               User Social Media  Screen Time
0     Chandler Bing    Instagram          150
1         Rose Bush     LinkedIn          134
2        DR Tarika     Instagram          130
3  Isabelle Ringing    Instagram          120
4  Isabelle Ringing      Youtube          104
5      Purvi Sayed     Instagram          100
6     Monica Geller     Facebook           97
7         Peg Legge     Facebook           94
8   Melody Sunshine     WhatsApp           87
9         Chew Mee      WhatsApp           86

In [32]:
query4 = """
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Eldest Person :'
RETURN p.Name, p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age DESC
LIMIT 1
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Youngest Person: '
RETURN p.Name ,p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age
LIMIT 1
"""

result4 = graph.run(query4)
for d in result4:
    print(d)

'Eldest Person :'	'ACP Pradyuman '	62	'Twitter'
'Youngest Person: '	'Peg Legge'	16	'Facebook'

In [33]:
query5 = """
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Male"
SET p.surname = 'Male'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Female"
SET p.surname = 'Female'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
"""

result5 = graph.run(query5)
for d in result5:
    print(d)

'WhatsApp'	7	'Male'
'SnapChat'	3	'Male'
'LinkedIn'	3	'Male'
'Facebook'	4	'Male'
'Instagram'	3	'Male'
'Youtube'	2	'Male'
'Twitter'	3	'Male'
'WhatsApp'	5	'Female'
'Facebook'	3	'Female'
'Instagram'	4	'Female'
'Twitter'	2	'Female'
'Youtube'	3	'Female'
'LinkedIn'	2	'Female'
'SnapChat'	1	'Female'

In [ ]:
df = pd.read_csv('fls.csv')

# Get the top 50 prev_location values
top_prev_locations = df['prev_location'].value_counts().head(50).index.tolist()

# Filter the original dataset based on top 50 prev_location values
filtered_df = df[df['prev_location'].isin(top_prev_locations)]

# Save the filtered dataset to a CSV file
filtered_df.to_csv('filtered_dataset.csv', index=False)

In [ ]:
top_prev_locations = df['prev_location'].value_counts().head(50).index.tolist()

# Filter the dataframe to include only the top 50 prev_location values
df_filtered = df[df['prev_location'].isin(top_prev_locations)]

# Save the filtered dataset to a CSV file
df_filtered.to_csv('hey_filtered.csv', index=False)